<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="https://uat.esewa.com.np/epay/main" method="POST">
        
    <input value="<%= data.Room_price %>" name="tAmt">
    <input value="<%= data.Room_price %>" name="amt">
    <input value="0" name="txAmt">
    <input value="0" name="psc">
    <input value="0" name="pdc">
    <input value="EPAYTEST" name="scd">
    <input value="<%= data.id %>" name="pid">
    <input value="http://localhost:8080/api/rooms/success">
    <input value="http://localhost:8080/api/rooms/failed">
    <input value="Submit" type="submit">
    </form>
   
</body>
</html>

<!-- submit -->

<!-- <script>
    var path="https://uat.esewa.com.np/epay/main";
var params= {
    amt: "<%= data.Room_price %>",
    psc: 0,
    pdc: 0,
    txAmt: 0,
    tAmt: "<%= data.Room_price %>",
    pid: "<%= data.id %>",
    scd: "EPAYTEST",
    su: "http://localhost:8080/api/rooms/success",
    fu: "http://localhost:8080/api/rooms/failed"
}

function post(path, params) {
    var form = document.createElement("form");
    form.setAttribute("method", "POST");
    form.setAttribute("action", path);

    for(var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
    }

    document.body.appendChild(form);
    form.submit();
}
</script> -->